:root {
    --wheel-font: 'Lato', 'Quicksand', sans-serif;
    --wheel-size: 358px;
    --wheel-slice-spacing: 5px;
    --wheel-border-size: 2px;
    --wheel-color: #832A4B;
    --neutral-color: white;
    --PI: 3.14159265358979;
    --nb-item: 1;
    --item-nb: 0;
    --selected-item: 0;
    --nb-turn: 5;
    --spinning-duration: 4s;
    --reset-duration: 0.25s;
  }
  
  .wheel-container {
    display: block;
    position: relative;
    box-sizing: content-box;
    width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
    height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
    padding: 3px;
    margin: auto;
    background-color: var(--neutral-color);
    border: solid rgba(0, 0, 0, 0.06) 9px;
    border-radius: 50%;
    user-select: none;
    box-shadow: 0px 3.16862px 6.33724px rgba(0, 0, 0, 0.12);
  }
  
  .wheel-container::before,
  /* .wheel-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: solid transparent 20px;
    border-left-width: 0;
  } */
  
  .wheel-container::before {
    right: 0px;
    border-right-color: var(--wheel-color);
  }
  
  .wheel-container::after {
    right: -5px;
    border-right-color: var(--neutral-color);
  }

  .pointer {
    position: absolute;
    width: 22.45px;
    height: 28.06px;
    left: 169.18px;
    top: -16.2px;
    z-index: 200;
    border-top: solid 27px #FFDDA1;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 10px transparent;
  }

  .pointer-back {
    position: absolute;
    width: 34px;
    height: 6px;
    left: 167.18px;
    top: -16.2px;
    background: #FFDDA1;
    border-radius: 2px;
    z-index: 200;

  }
  
  .wheel {
    display: block;
    position: relative;
    box-sizing: content-box;
    margin: auto;
    width: var(--wheel-size);
    height: var(--wheel-size);
    overflow: hidden;
    border-radius: 50%;
    border: solid var(--wheel-color) var(--wheel-border-size);
    background-color: var(--wheel-color);
    transition: transform var(--reset-duration);
    transform: rotate(0deg);
    cursor: pointer;
  }
  
  .wheel.spinning {
    transition: transform var(--spinning-duration);
    transform: rotate(calc(var(--nb-turn) * 360deg + (-360deg * var(--selected-item) / var(--nb-item, 1)) - 90deg));
  }

  .spin-button {
    display: block;
    position: absolute;
    cursor: pointer;
    background-color: #FFDDA1;
    content: 'Spin';
    width: 58px;
    height: 58px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 16px 0 0 10px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .wheel-item {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: 50%;
    transform-origin: center left;
    transform: translateY(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
    color: var(--neutral-color);
    text-align: right;
    padding: 0 25px 0 50px;
    font-family: var(--wheel-font);
  }
  
  .wheel-item:before {
    content: ' ';
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0px;
    opacity: 0.25;
    --slice-max-width: calc(var(--PI) * var(--wheel-size) + var(--wheel-size) / 2);
    --slice-width: calc((var(--slice-max-width) / var(--nb-item, 1)) - var(--wheel-slice-spacing));
    border: solid transparent calc(var(--slice-width) / 2);
    border-left: solid transparent 0;
    border-right: solid var(--neutral-color) calc(var(--wheel-size) / 2);
  }
  
  .wheel-item:after {
    content: ' ';
    display: block;

    position: absolute;
    width: 7.48px;
    height: 7.48px;
    border-radius: 50%;
    /* left: 193.68px;
    top: 355.85px; */
    top: -185%;
    left: 90%;

    background: #FFDDA1;
    transform: rotate(-9.4deg);
  }

  .wheel-item-dot {
    content: ' ';
    display: block;

    position: absolute;
    width: 7.48px;
    height: 7.48px;
    border-radius: 50%;
    /* left: 193.68px;
    top: 355.85px; */
    top: 259%;
    left: 89%;

    background: #FFDDA1;
    transform: rotate(-9.4deg);
  }
  